$PURPLE: hsl(259, 100%, 65%);
$LIGHT_RED: hsl(0, 100%, 67%);
$WHITE: hsl(0, 0%, 100%);
$OFF_WHITE: hsl(0, 0%, 94%);
$LIGHT_GREY: hsl(0, 0%, 86%);
$SMOKE_GREY: hsl(0, 1%, 44%);
$OFF_BLACK: hsl(0, 0%, 8%);
